# Node modules (DO NOT COMMIT)
node_modules/

# Cypress test artifacts
cypress/screenshots/
cypress/videos/

# VS Code settings
.vscode/

# Environment files
.env
.env.local

# OS-specific
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
